
.vs/VSWorkspaceState.json
.vs/managed-devops-pools-configure-scaling/v17/.wsuo
.vs/managed-devops-pools-configure-scaling/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/managed-devops-pools-configure-scaling/FileContentIndex
/.vs

/web-app/.vs
secrets
Secrets.txt
